<div
  cdkDrag
  [cdkDragDisabled]="isCorrect"
  (cdkDragEnded)="onDragEnded($event)"
  (mousedown)="onMouseDown()"
  class="puzzle-piece absolute"
  [class.cursor-move]="!isCorrect"
  [class.cursor-default]="isCorrect"
  [style.width.px]="pieceSize + pieceSize * 0.48"
  [style.height.px]="pieceSize + pieceSize * 0.48"
  [style.left.px]="piece.currentPosition.x + 16 - pieceSize * 0.24"
  [style.top.px]="piece.currentPosition.y + 16 - pieceSize * 0.24"
  [style.z-index]="isCorrect ? 0 : piece.zIndex"
>
  <div
    class="w-full h-full drop-shadow-lg"
    [style.clip-path]="'url(#puzzle-clip-' + piece.id + ')'"
    [style.background-image]="'url(' + piece.imageUrl + ')'"
    [style.background-position]="backgroundPosition"
    [style.background-size]="backgroundSize"
  ></div>
</div>
