/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* PrimeNG Skeleton background color */
.p-skeleton {
  background-color: #CCC !important;
}
